<!-- Footer Start -->
<div class="container-fluid text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s" style="background: linear-gradient(rgb(140 117 57 / 17%), rgb(139 105 0 / 5%)), url(../../../assets/img/footer.jpg);;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;">
    <div class="container py-2">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <h4 class="text-light mb-4">Address</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>4236, King Saud Road, 6253</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0138133111</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@minerals-mines.sa</p>
            </div>
            <div class="col-lg-4 col-md-6">
                <h4 class="text-light mb-4">Products</h4>
                <a class="btn btn-link" [routerLink]="['/products-services', 'minerals']">Minerals</a>
                <a class="btn btn-link" [routerLink]="['/products-services', 'productionChemicals']">Production
                    Chemicals</a>
                <a class="btn btn-link" [routerLink]="['/products-services', 'specialtyChemicals']">Specialty
                    Chemicals</a>
            </div>
            <div class="col-lg-4 col-md-6">
                <h4 class="text-light mb-4">Quick Links</h4>
                <a class="btn btn-link" [routerLink]="'/about'">About Us</a>
                <a class="btn btn-link" [routerLink]="'/contact'">Contact Us</a>
                <a class="btn btn-link" [routerLink]="'/business-unit'">Business Unit</a>
                <a class="btn btn-link" [routerLink]="'/careers'">Careers</a>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->