<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Service</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Service</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5">Our Services</h1>
        </div>


        <div class="  wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-0 my-2 height-fixed">
                <div class="col-7 p-4 text-center border-0 h-100" style="background-color: #8bd3d7;">
                    <h4 class="mb-3">Oilfield Chemicals </h4>
                    <p>Oilfield Services unit is dedicated to providing a full suite of solutions designed to
                        support and enhance oilfield operations</p>
                    <a class="fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                </div>
                <div class="overflow-hidden col-5  h-100">
                    <img class="img-fluid" src="assets/img/g3.jpg" alt="">
                </div>
            </div>
        </div>



        <div class="  wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-0 my-2 height-fixed">
                <div class="overflow-hidden col-4  h-100">
                    <img class="img-fluid  h-100" src="assets/img/g1.jpg" alt="">
                </div>
                <div class="col-8 p-4 text-center border-0" style="background-color:#f7e4c2">
                    <h4 class="mb-3">Oilfield Services </h4>
                    <p>Oilfield Services unit is dedicated to providing a full suite of solutions designed to
                        support and enhance oilfield operations</p>
                    <a class="fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>

        <div class="  wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-0 my-2 height-fixed">
                <div class="col-7 p-4 text-center border-0 h-100" style="background-color: #daeeed;">
                    <h4 class="mb-3"> Trading and Distribution </h4>
                    <p>Our Trading & Distribution unit manages the procurement, logistics, and distribution of a wide
                        range of oil and gas products</p>
                    <a class="fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                </div>
                <div class="overflow-hidden col-5  h-100">
                    <img class="img-fluid" src="assets/img/g5.jpg" alt="">
                </div>
            </div>
        </div>




    </div>
</div>
<!-- Service End -->