<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Service</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Service</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center">
            <h1 class="display-5 mb-5">Our Services</h1>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <div class="wow fadeInUp" data-wow-delay="0.1s">
                            <div class="row g-3 mb-2 height-fixed">
                                <div class="col-8 p-4 text-center border-0" style="background-color:#a2dfe2">
                                    <h4 class="mb-3">Oilfield Services</h4>
                                    <p class="text-center">Oilfield Services unit is dedicated to providing a full suite
                                        of solutions designed to support and enhance oilfield operations. Our commitment
                                        is to deliver reliable, efficient, and innovative oilfield services that drive
                                        success for our clients.
                                    </p>
                                    <a class="fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                                <div class="overflow-hidden col-4 h-100">
                                    <img class="img-fluid h-100" src="assets/img/g3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body row justify-content-center g-3">
                        <div class="col-md-4">
                            <a href="" class="blog-compact-item-container">
                                <div class="blog-compact-item">
                                    <img src="assets/img/c1.jpg" alt="">
                                    <!-- <span class="blog-item-tag">Tips</span> -->
                                    <div class="blog-compact-item-content">
                                        <h3>Drilling Services</h3>
                                        <p> Offering advanced drilling technologies and expertise to
                                            improve well performance and efficiency. Our services include rotary
                                            drilling, directional drilling, and managed pressure drilling. </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="blog-compact-item-container">
                                <div class="blog-compact-item">
                                    <img src="assets/img/c1.jpg" alt="">
                                    <!-- <span class="blog-item-tag">Tips</span> -->
                                    <div class="blog-compact-item-content">
                                        <h3>Well Completion</h3>
                                        <p> Providing solutions for completing wells in various geological formations.
                                            This includes casing, cementing, and stimulation services to maximize
                                            production and extend the well life.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="blog-compact-item-container">
                                <div class="blog-compact-item">
                                    <img src="assets/img/c1.jpg" alt="">
                                    <!-- <span class="blog-item-tag">Tips</span> -->
                                    <div class="blog-compact-item-content">
                                        <h3>Production Optimization</h3>
                                        <p> Utilizing state-of-the-art technologies and methodologies to enhance
                                            production rates and reduce operational costs. Services include artificial
                                            lift systems, well testing, and flowback services.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="blog-compact-item-container">
                                <div class="blog-compact-item">
                                    <img src="assets/img/c1.jpg" alt="">
                                    <!-- <span class="blog-item-tag">Tips</span> -->
                                    <div class="blog-compact-item-content">
                                        <h3>Maintenance & Repair</h3>
                                        <p> Ensuring the reliability and longevity of oilfield equipment through
                                            comprehensive maintenance and repair services. Our team is equipped to
                                            handle routine maintenance, emergency repairs, and equipment upgrades.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="blog-compact-item-container">
                                <div class="blog-compact-item">
                                    <img src="assets/img/c1.jpg" alt="">
                                    <!-- <span class="blog-item-tag">Tips</span> -->
                                    <div class="blog-compact-item-content">
                                        <h3>Environmental Management</h3>
                                        <p>Implementing practices and technologies to minimize environmental impact,
                                            including waste management, spill response, and emission control.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <div class="wow fadeInUp" data-wow-delay="0.1s">
                            <div class="row g-0 my-2 height-fixed">
                                <div class="overflow-hidden col-4  h-100">
                                    <img class="img-fluid  h-100" src="assets/img/g1.jpg" alt="">
                                </div>
                                <div class="col-8 p-4 text-center border-0" style="background-color:#f7e4c2">
                                    <h4 class="mb-3">Oilfield Chemicals </h4>
                                    <p>In our Oil Field Chemicals unit, we provide a diverse range of chemical solutions
                                        essential for optimizing oil and gas extraction processes. Our oil field
                                        chemicals are formulated to meet the highest standards of performance and
                                        environmental safety, ensuring optimal results in every application.
                                    </p>
                                    <a class="fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body row justify-content-center g-3">
                        <div class="col-md-4">
                            <a href="" class="blog-compact-item-container">
                                <div class="blog-compact-item">
                                    <img src="assets/img/c1.jpg" alt="">
                                    <!-- <span class="blog-item-tag">Tips</span> -->
                                    <div class="blog-compact-item-content">
                                        <h3>Drilling Fluids</h3>
                                        <p> Customized formulations designed to enhance drilling performance, control
                                            well pressure, and lubricate the drill bit. Our fluids are engineered to
                                            meet specific operational needs and environmental regulations.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="blog-compact-item-container">
                                <div class="blog-compact-item">
                                    <img src="assets/img/c1.jpg" alt="">
                                    <!-- <span class="blog-item-tag">Tips</span> -->
                                    <div class="blog-compact-item-content">
                                        <h3>Cementing Chemicals</h3>
                                        <p> Specialized products used in the cementing process to secure well casings
                                            and prevent fluid migration. Our cementing solutions are tailored to
                                            withstand various pressures and temperatures.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="blog-compact-item-container">
                                <div class="blog-compact-item">
                                    <img src="assets/img/c1.jpg" alt="">
                                    <!-- <span class="blog-item-tag">Tips</span> -->
                                    <div class="blog-compact-item-content">
                                        <h3>Production Chemicals</h3>
                                        <p> Chemicals that improve the efficiency of production operations, including
                                            scale inhibitors, corrosion inhibitors, and surfactants. These products help
                                            maintain equipment integrity and enhance resource recovery.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="blog-compact-item-container">
                                <div class="blog-compact-item">
                                    <img src="assets/img/c1.jpg" alt="">
                                    <!-- <span class="blog-item-tag">Tips</span> -->
                                    <div class="blog-compact-item-content">
                                        <h3>Enhanced Oil Recovery (EOR) Chemicals</h3>
                                        <p>Innovative chemicals designed to boost oil recovery from mature fields. Our
                                            EOR solutions include polymers, surfactants, and chemicals for CO2 and
                                            thermal injection processes.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="blog-compact-item-container">
                                <div class="blog-compact-item">
                                    <img src="assets/img/c1.jpg" alt="">
                                    <!-- <span class="blog-item-tag">Tips</span> -->
                                    <div class="blog-compact-item-content">
                                        <h3>Environmental & Safety Chemicals</h3>
                                        <p> Products designed to support environmental protection and safety in oilfield
                                            operations. This includes bioremediation agents, spill containment products,
                                            and non-toxic additives.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <div class="  wow fadeInUp" data-wow-delay="0.1s">
                            <div class="row g-3 mb-3 height-fixed">
                                <div class="col-7 p-4 text-center border-0 h-100" style="background-color: #daeeed;">
                                    <h4 class="mb-3"> Trading and Distribution </h4>
                                    <p>Our Trading & Distribution unit manages the procurement, logistics, and
                                        distribution of a wide range of oil and gas products.
                                        Our Trading & Distribution unit is dedicated to providing seamless and reliable
                                        supply chain solutions, ensuring that our clients receive the products they
                                        need, when they need them.</p>
                                    <a class="fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                                <div class="overflow-hidden col-5 h-100">
                                    <img class="img-fluid h-100" src="assets/img/g5.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body row justify-content-center g-3">
                        <div class="col-md-4">
                            <a href="" class="blog-compact-item-container">
                                <div class="blog-compact-item">
                                    <img src="assets/img/c1.jpg" alt="">
                                    <!-- <span class="blog-item-tag">Tips</span> -->
                                    <div class="blog-compact-item-content">
                                        <h3>Product Sourcing</h3>
                                        <p> Identifying and procuring high-quality oil and gas products from reputable
                                            suppliers. We ensure that all products meet industry standards and client
                                            specifications.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a href="" class="blog-compact-item-container">
                                <div class="blog-compact-item">
                                    <img src="assets/img/c1.jpg" alt="">
                                    <!-- <span class="blog-item-tag">Tips</span> -->
                                    <div class="blog-compact-item-content">
                                        <h3>Logistics Management</h3>
                                        <p> Coordinating the transportation and delivery of
                                            products to ensure timely and efficient distribution. Our logistics
                                            solutions include pipeline transportation, trucking, and shipping.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="blog-compact-item-container">
                                <div class="blog-compact-item">
                                    <img src="assets/img/c1.jpg" alt="">
                                    <!-- <span class="blog-item-tag">Tips</span> -->
                                    <div class="blog-compact-item-content">
                                        <h3>Inventory Management</h3>
                                        <p> Maintaining an extensive inventory to meet the
                                            demands of our clients. We implement efficient inventory control systems to
                                            manage stock levels and ensure product availability.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="blog-compact-item-container">
                                <div class="blog-compact-item">
                                    <img src="assets/img/c1.jpg" alt="">
                                    <!-- <span class="blog-item-tag">Tips</span> -->
                                    <div class="blog-compact-item-content">
                                        <h3>Market Analysis</h3>
                                        <p> Conducting market research to identify trends and opportunities. This
                                            helps us to make informed decisions on product sourcing, pricing, and
                                            distribution strategies.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="blog-compact-item-container">
                                <div class="blog-compact-item">
                                    <img src="assets/img/c1.jpg" alt="">
                                    <!-- <span class="blog-item-tag">Tips</span> -->
                                    <div class="blog-compact-item-content">
                                        <h3>Customer Support</h3>
                                        <p> Providing exceptional service to our clients, including
                                            order processing, tracking, and resolving any issues related to product
                                            delivery and quality.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->