<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Products and Services</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="">Home</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Products and Services</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Products Start -->
<div class="container-xxl py-4">
    <div class="container">
        <div class="text-center">
            <h1 class="display-5 mb-5">Products and Services</h1>
        </div>
        <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-12 text-center">
                <ul class="list-inline mb-5" id="portfolio-flters">
                    <li class="mx-2" [class.active]="activeCategory === 'minerals'"
                        (click)="setActiveCategory('minerals')">Minerals</li>
                    <li class="mx-2" [class.active]="activeCategory === 'productionChemicals'"
                        (click)="setActiveCategory('productionChemicals')">Production Chemicals</li>
                    <li class="mx-2" [class.active]="activeCategory === 'specialtyChemicals'"
                        (click)="setActiveCategory('specialtyChemicals')">Specialty Chemicals</li>
                </ul>
            </div>
        </div>
        <div class="row g-4 portfolio-container justify-content-center" *ngFor="let category of filteredProducts">
            <p class="fw-bolder text-center border border-1 px-3 py-2 text-primary">{{category.description}} <br>
                <small class="fw-normal text-dark"> {{category.subDescription}} </small>
            </p>

            <div *ngFor="let product of category.products" class="col-lg-4 col-md-6 portfolio-item wow fadeInUp h-100"
                data-wow-delay="0.1s">
                <div class="desc overflow-hidden h-100">
                    <div class="position-relative overflow-hidden h-100">
                        <img class="img-fluid w-100 h-100" [src]="product.img" alt="">
                        <!-- <div class="portfolio-overlay">
                            <a class="btn btn-square btn-outline-light mx-1" href="assets/img/img5.jpg"
                                data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                             <a class="btn btn-square btn-outline-light mx-1" href=""> <i class="fa fa-link"></i>
                            </a> 
                        </div> -->
                    </div>
                    <div class="p-4" style="min-height: 210px;">
                        <h4 class="text-primary fw-medium mb-2">{{ product.name }}</h4>
                        <p class="lh-base mb-0 h-100"> {{ product.usage }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Products End -->